# SPDX-FileCopyrightText: 2026 Yiyu Zhou <yzhou155@dons.usfca.edu>
# SPDX-License-Identifier: GPL-3.0-or-later

# Context-free grammar for the cflat language

program ::= (struct | extern | function)+

type ::= `int`         # integer
       | id            # struct
       | `&` type      # pointer
       | `[` type `]`  # array
       | function_t    # function

# function types
function_t ::= `(` (type (`,` type)*)? `)` `->` type

# variable and field declaration
decl ::= id `:` type

struct ::= `struct` id `{` (decl (`,` decl)*)? `}`

# external function declaration
extern ::= `extern` id `:` function_t `;`

function ::= `fn` id `(` (decl (`,` decl)*)? `)` `->` type `{` let* statement* `}`

# local variable(s) declaration
let ::= `let` (decl (`,` decl)*)? `;`

statement ::= exp exp'
       | `if` exp block (`else` block)?  # conditional
       | `while` exp block               # while loop
       | `break` `;`                     # break out of loop
       | `continue` `;`                  # continue to next iteration of loop
       | `return` exp `;`                # return from function

exp' ::= `;`                             # expression (must be a function call)
       | `=` exp `;`                     # assignment (left-hand side must be an lval)

block ::= `{` statement* `}`

exp ::= ternary

ternary ::= logical (`?` exp `:` logical)*
logical ::= relational ((`and` | `or`) logical)?
relational ::= additive (binop_relational additive)*
binop_relational ::= `==` | `!=` | `<` | `<=` | `>` | `>=`

additive ::= term (binop_additive term)*
binop_additive ::= `+` | `-`

term ::= unary (binop_multiplicative unary)*
binop_multiplicative ::= `*` | `/`

unary ::= unop unary | postfix
unop  ::= `-`   # integer negation
       | `not`  # logical negation

postfix ::= primary postfix_op*

primary ::= id
          | num
          | `nil`
          | `new` type
          | `[` type `;` exp `]`
          | `(` exp `)`

postfix_op ::= `[` exp `]`                  # array access
             | `(` ( exp (`,` exp)* )? `)`  # function call
             | `.` postfix_dot              # left-factored field access

postfix_dot ::= id     # field access
              | `*`    # pointer deref
